.about-page{
  background-color: #d2cdc7c0; 
  padding: 60px 20px 20px 20px; 
}

.about-container {
  max-width: 100%;
  margin: 40px auto;
  padding: 0 20px;
}
.about-header {
  text-align: center;
  margin-bottom: 40px;
}
.about-header h1 {
  font-size: 42px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-header p {
  font-size: 22px;
  color: #555;
}

.mission-vision {
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #ddd; 
  background-color: #fff; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.mission-vision h2 {
  font-size: 30px;
  color: #1e7a34; 
  margin-bottom: 20px;
}

.mission-vision p {
  font-size: 18px;
  line-height: 1.8;
  color: #666;
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #ddd; 
  background-color: #fff; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.contact-text {
  width: 50%;
}

.contact-us h2 {
  font-size: 30px;
  color: #1e7a34; 
  margin-bottom: 20px;
}

.contact-us p {
  font-size: 18px;
  line-height: 1.8;
  color: #666;
}

.contact-us strong {
  color: #ff7f50; 
}

.organization-image {
  width: 20%;
  text-align: center;
}

.organization-image img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}
.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.image-item {
  width: 24%;
  border-radius: 15px;
}

.image-item img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}

.image-gallery {
  margin-bottom: 40px;
}
.who-we-are {
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #ddd;
  background-color: #fff; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.who-we-are h2 {
  font-size: 30px;
  color: #1e7a34; 
  margin-bottom: 20px;
}

.who-we-are p {
  font-size: 18px;
  line-height: 1.8;
  color: #666;
}

@media screen and (max-width: 768px) {
.image-item img {
  height: 70px;
}
.organization-image {
  width: 50%;
  padding-bottom: 400px;

}
}
@media screen and (max-width: 480px) {
  .mission-vision p,
  .contact-us p,
  .who-we-are p {
    font-size: 15px;
    line-height: 1.6;
  }

  .contact-us h2,
  .mission-vision h2,
  .who-we-are h2 {
    font-size: 23px;
  }

  .about-header h1 {
    font-size: 28px;
  }

  .about-header p {
    font-size: 18px;
  }

  .contact-text {
    width: 100%;
  }

  .contact-us {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .organization-image {
    width: 100%;
    padding-bottom: 0;
    text-align: center;
  }

  .image-item {
    width: 48%;
    margin-bottom: 10px;
  }

  .image-item img {
    height: 150px;
  }
}


