.admin-rentals-a{
       padding-top: 80px;
       background-color: #d2cdc7c0;
       height: 100%;
       padding-bottom: 20px;
  
}
.admin-rentals-title{
       margin-top: 50px;
       margin-left: 70px;
}