.pet-cards-package {
    display: grid;

grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    justify-content: center;
    margin: 10px auto 100px auto;
    padding: 0 10px; 
}
