.pet-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.pet-form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%; 
    max-width: 1400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.both-pet-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
} 
.pet-form-container h2 {
    font-size: 2.2rem;
    color: #1e7a34;
    margin-bottom: 15px;
    text-align: center;
}
.pet-form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pet-form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}
   
.pet-form-group input,
.pet-form-group select,
.pet-form-group textarea {
    width: 350px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.pet-form-group textarea {
    resize: none;
    width: 350px;
} 

.pet-form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.form-button {
    background-color: #1e7a34;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: rgb(66, 154, 52);
}

.cancel-button {
    background-color: #e74c3c;
}

.cancel-button:hover {
    background-color: #c0392b;
}
.preview-image{
    margin-top: 10px;
    width: 70px;
    height: auto;
}

.error-message-pets-page {
    color: rgba(255, 0, 0, 0.8);
    font-size: 12px;
    margin-top: 5px;
  }
  
@media screen and (max-width: 768px) {
.pet-form-overlay {
    padding:5px 0; 
    overflow-y: auto; 
    align-items: flex-start; 
  }
   .pet-form-container {
    width: 90% !important; 
    padding: 20px !important;
    margin: 20px auto;
    box-sizing: border-box;
  }

  .pet-form-group input,
  .pet-form-group textarea,
  .pet-form-group select {
    width:100% !important; 
    max-width: 100% !important; 
    box-sizing: border-box;
  }
  .pet-form-group textarea {
    width: 100% !important;
  }
  .both-pet-container {
    flex-direction: column; 
    gap: 15px;
    align-items: center;
  }

  .first-pet-container,
  .second-pet-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    
  }

  .pet-form-actions {
    flex-direction: column; 
    gap: 10px;
    align-items: stretch;
  }

  .form-button {
    width: 100%;
    text-align: center;
  }

  .preview-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-top: 10px;
    align-self: center;
  }
}
